#if (($patternModel.eq($oppEntityCode,"费用")) or   ($patternModel.eq($oppEntityCode,"交易")) and ($patternModel.eq($tradeSubject,"天猫保证金"))) true #else false #end



#if (  (   $patternModel.eq($oppEntityCode,"费用") or   $patternModel.eq($oppEntityCode,"交易")  )
and (   $patternModel.eq($tradeSubject,"天猫保证金") or   $patternModel.eq($tradeSubject,"2")))
true
#else
false #end   $patternModel.eq($tradeSubject,"天猫保证金") or   $patternModel.eq($tradeSubject,"2") ) a) true #else false #end