<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xx.md.dd.mapper.doris.DorisPersonInfoMapper">

    <resultMap id="BaseResultMap" type="com.xx.md.dd.domain.doris.DorisPersonInfo">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="birthday" column="birthday" jdbcType="DATE"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="op" column="__op" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,phone,
        email,age,birthday,
        create_time,__op
    </sql>
</mapper>
